# Folders
tableau/
code/src/
code/__pycache__
code/.ipynb_checkpoints
.vscode/
data/raw/
data/chkpt1/
data/chkpt2/
data/chkpt3/raw

# Individual Files
whatsapp-credentials.json
data/chkpt3/author_id_classes.npy